body{
    text-align: center;
    background: url('https://www.fundospaisagens.com/1366x768/wallpaper-do-espaco.jpg');
}

canvas{
    background-color: #ccc;
}

.painel{
    width: 600px;
    height: 400px;
}

.corbotao{
    background-color: #000;
    color: #FFFFFF;
}